.rowProduct:first-child{
    display: none;
}
.increase , .decrease {
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}
#imgProduct{
    width: 50%;
    height: 100px;
}
.img-product{
    width: 15%;
}